@import "tailwindcss";

@theme {
  --container-max: 1120px;
  --container-min: 1100px;
  --container-padding: 10px;
  --color-bg: #fafafa;
  --color-card: #ffffff;
  --color-card-product: #f3f4f6;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-line: #e5e7eb;
  --color-accent: #000;
  --text-title: 40px;
  --text-subtitle: 18px;
  --text-md: 13px;
  --backdrop-saturate-header: 180%;
  --breakpoint-xsm: 25rem;
}

body {
  @apply text-text;
}

.linkStyle {
  @apply relative no-underline  transition-colors
    after:content-[''] after:absolute after:left-0 after:bottom-0
    after:w-0 after:h-[2px] after:bg-text after:transition-all after:duration-300
    hover:after:w-full;
}

.btn {
  @apply text-text no-underline font-semibold inline-block  rounded-2xl border border-text hover:bg-text hover:text-bg transition-colors duration-300;
}

.btn-outline {
  @apply text-white no-underline font-semibold inline-block px-4.5 py-3 rounded-2xl duration-300 bg-green-800/90 hover:border-green-800 hover:border border hover:bg-white hover:text-text transition-colors;
}

.card {
  @apply border bg-card border-line p-4 rounded-2xl border-solid;
}

.card-product {
  @apply border border-line bg-white flex flex-col justify-between gap-2.5 p-3 rounded-2xl border-solid;
}

.field {
  @apply border border-line w-full px-3 py-2.5 rounded-xl border-solid;
}

.container {
  max-width: var(--container-max);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.section-container {
  max-width: var(--container-min);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.gradient-up {
  background: linear-gradient(to top, var(--color-bg) 30%, rgba(255, 255, 255, 0) 100%);
}

.button-up {
  @apply hidden xl:block text-[25px] fixed hover:text-white right-6 2xl:right-14 bottom-14 cursor-pointer rounded-full p-9 font-bold duration-300 hover:bg-text z-10;
}
.button-up svg path {
  @apply duration-300;
}

.button-up:hover svg path {
  @apply fill-white;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
  background-size: 200% 100%;
}
